
 /* total body styling*/
body{
    margin-top: 150px;
    text-align: center;
    background-color: lightblue;
}

/* counter background and text styling*/
.counter_div{

    background-color: black;
    color: white;
    margin-top: 50px;
}

/* increment button styling*/

.btn-increment{
    background-color: green;
    height: 50px;
    width: 250px;
    border-radius: 15px;
    margin-right: 50px;
    margin-top: 25px;
    border: none;
}


/* decrement button styling*/

.btn-decrement{
    background-color: red;
    height: 50px;
    width: 250px;
    border-radius: 15px;
    border: none;
}